In [ ]:
def <関数名>(<引数>):
    <式>
    return <式>

In [ ]:
lamdba <引数>:<式>

In [1]:
def square(x):
    '''与えられた数値の２条を返す'''
    return x ** 2

print(square(10))

100

In [3]:
# 与えられた数値の２条を返す
sq_func = lambda x: x ** 2

print(sq_func(10))

100

In [7]:
i_num_list = range(1,11)
s_num_list = list(map(lambda i: "No." + str(i), i_num_list))
print("文字リスト:",s_numlist)

文字リスト: ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [9]:
#　文字を数値に返還して修飾します
for s in map(lambda i: "No." + str(i),range(1,11)):
    print(s, end=" ")

No.1 No.2 No.3 No.4 No.5 No.6 No.7 No.8 No.9 No.10

In [10]:
# 偶数だけを取得します
for e in filter(lambda i: i%2==0,range(1,11)):
    print(e, end=" ")

2 4 6 8 10

In [11]:
def is_even(x):
    '''偶数なら Ture'''
    return x % 2 == 0

# 偶数だけ取得します
for e in filter(is_even,range(1,11)):
    print(e, end=" ")

2 4 6 8 10

In [13]:
pairs = [(2,'down'),(1,'up'),(4,'charm'),(3,'strange'),(6,'top'),(5,'bottom')]
print(pairs)

[(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top'), (5, 'bottom')]

In [14]:
pairs.sort()
print(pairs)

[(1, 'up'), (2, 'down'), (3, 'strange'), (4, 'charm'), (5, 'bottom'), (6, 'top')]

In [15]:
pairs.sort(key=lambda x: x[1],reverse=True)
print(pairs)

[(1, 'up'), (6, 'top'), (3, 'strange'), (2, 'down'), (4, 'charm'), (5, 'bottom')]

In [17]:
n = 3
func = lambda n:"even" if (n % 2 ==0)else "odd"
func(n)

'odd'

In [18]:
n = 3
x = "even" if (n % 2 == 0) else "odd"
print(x)

odd

In [19]:
n = 3
if (n % 2 == 0):
    x = "even"
else:
    x = "odd"
print(x)

odd

In [20]:
 list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [21]:
"{:04}".format(5)

'0005'

In [22]:
str_num_list = map(lambda x: "{:04}".format(x), range(1,8))
str_num_list

In [25]:
import random
def generate_students_data(num_students=10):
    '''生徒名,身長,体重からなるデータをランダムに生成する

    引数: num_students: 生徒の人数をとる
    戻り: num_students個のタブる　(生徒名,身長,体重)からなるリスト

    データの内容
        生徒名 'nXX , XX は 10　から　50　の番号
        身長　150-190 cm からランダムに選んだ値
        体重　50-80 kg   からランダムに選んだ値
    '''
    students_data = []
    for i in range(num_students):
        name = 'n' + str(random.randint(10,50))
        height = random.randint(150,190)
        weight = random.randint(50,80)
        students_data.append((name,height,weight))
        if i == 0: print('i,name,height,weight')
        if i < 2 or i == num_students - 1:
            print(i,name,height,weight)
        elif i  == 2:
            print('...')
        return students_data

students_data = generate_students_data(10)

i,name,height,weight
0 n29 189 77

In [26]:
students_by_height = soeted(students_data, key=lambda s: s[1])
students_by_weight = sorted(students_data, key=lambda s: s[2])

NameError: name 'soeted' is not defined